<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="mobilForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Merk Mobil</label>
              <input type="text"
                     class="form-control"
                     formControlName="merkMobil">
            </div>

            <div class="form-group">
              <label>Nama Mobil</label>
              <input type="text"
                     class="form-control"
                     formControlName="namaMobil">
            </div>

            <div class="form-group">
              <label>Jenis Mobil</label>
              <input type="text"
                     class="form-control"
                     formControlName="jenisMobil">
            </div>

            <div class="form-group">
              <label>Nomer Polisi</label>
              <input type="text"
                     class="form-control"
                     formControlName="platMobil">
            </div>
          </fieldset>


          <button type="submit" class="btn btn-primary"  [disabled]="!mobilForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectMobilPage()">Cancel</button>
          <pre>{{mobilForm.value | json}}</pre>
        </form>
      </section>
    </div>
  </div>
</div>